.vscode
CMakeSettings.json
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
qrc_resources.cpp
resources.qrc.depends
discord-music-presence.app/
discord-music-presence_autogen/
/.vs/
/cmake-build-*/
/discord-music-presence.pro.user
/.idea/
/out
/build
